@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xtgz05');
  src:  url('fonts/icomoon.eot?xtgz05#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xtgz05') format('truetype'),
    url('fonts/icomoon.woff?xtgz05') format('woff'),
    url('fonts/icomoon.svg?xtgz05#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e900";
}
.icon-Telegram:before {
  content: "\e901";
}
