
.home-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 0;
  width: 100%;

  .text{
    font-size: 16px;
    color: #71748c;
    font-weight: 300;
    padding-bottom: 0;
    margin-bottom: 0;
  }



}